<article id="sct<%= event_section.id %>" class="post update" style="margin-bottom:100px;padding-bottom:50px;">
	<section style="overflow:visible">
<!-- 						<img src="../cache/images/3c29e05f2779aaa0a01d0510115f9b34_normal_2x.png" width="280" height="304" alt="Ordering a taxi without making a call" class="fs-img"> -->
					<header>
			<h2><%= event_section.name %> </h2>
		</header>
		<aside>
			<time>Details</time>
			<!-- <div class="icon update">
				<span class="post-type">update</span>
				<span class="roundcircle"></span>
				<img src="../images/icon-timeline-update.png" alt=""/>
			</div> -->
		</aside>
		<div class="article-content">
			<%= "edit mode: #{edit_mode}" %>
			<ul class="sortable layout">
	      <% event_section.blocks.each do |block| %>
	      	<%= render partial: "event_block.html", locals: { block: block, edit_mode: edit_mode } %>
	        <!-- %= block_tag block, edit_mode %  -->
	      <% end %>
	      <%= render "event_block_add_toolbar.html"%>
      </ul>
			<!-- <a class="read-more" href="#">See who is coming</a> -->
		</div>
	</section>
	<div class="share-wrap">
	<a href="#" class="link-button share">More</a>
</div>
</article>	
