<li id="bk<%= block.id %>" class="element <%= block_type(block.type_id) %>" data-type="<%= block_type(block.type_id) %>"  >

<% if edit_mode %>

	

	<textarea id="bk<%= block.id %>-body" class="<%= add_class_data_toggle(block) %>" style="display: none;" >
		<%= block_content(block) %>
	</textarea>
	<script type="text/javascript">
		$(document).ready( function() {
			initializeHeader( "bk<%= block.id %>" );
		});
	</script>

<% else %>

	<div id="bk<%= block.id %>_body" class="<%= add_class_data_toggle(block) %>" >
		<%= block_content(block) %>
	</div>

<% end %>

</li>