<li id="bk<%= block.id %>" class="element <%= block_type(block.type_id) %>" data-type="<%= block_type(block.type_id) %>"  >

<% if edit_mode %>

	<%= render partial: "event_block_edit_toolbox.html", locals: { block: block } %>

	<textarea id="bk<%= block.id %>-body" class="" style="display: none;" >
		<%= block_content(block) %>
	</textarea>
	<script type="text/javascript">
		$(document).ready( function() {
			initializeHeader( "bk<%= block.id %>" );
		});
	</script>

<% else %>

	<div id="bk<%= block.id %>_body" class="" >
		<%= block_content(block) %>
	</div>

<% end %>

</li>