<!-- <li class="span4" style="style:none"> -->
    <div class="thumbnail thumbnail-first">	 
			
           <img style="width:460px;" src="<%= event.image.to_s %>"> <!--%= event.image_url(:thumb).to_s %-->
                <div class="mask">
                    <h4> <i class="icon icon-tag"></i> <%= get_industry_name(event.industry) %></h4>
                    <p id="_event_description"> <%= event.description.to_s %></p> 
                    <h4 id="_event_location" class="pull-left"><i class="icon icon-map-marker"></i> <%= event.location %></h4>
            </div>  
            </img>

		   <div class="when">
                <img src="<%= asset_path 'icon-fb.png' %>"></img>
                <img src="<%= asset_path 'icon-twitter.png' %>"></img>
                <img src="<%= asset_path 'icon-pinterest.png' %>"></img> 
            </div>

    		<div class="caption">
    			<a href="<%= "/events/#{event.id}" %>"><h2 id="_event_title"><%= event.title.to_s %></h2></a>
                <h3 class="pull-right"><i class="icon icon-calendar"></i> <%= "#{event.date_start.strftime('%d')}-#{event.date_end.strftime('%d')}" %> <small><%= "#{event.date_end.strftime('%b')}, #{event.date_end.strftime('%Y')}" %> </small></h3>
    		</div>	 
    </div>
    <div class="thumbnail-info">
        <h6> <i class="icon-user icon-white"></i>3453</h6>
        <h6> <i class="icon-eye-open icon-white"></i>34</h6>
        <h6> <i class="icon-tag icon-white"></i>3453</h6>
    </div>
<!-- </li> -->
