<li id="bk<%= block.id %>" class="element <%= block_type(block.type_id) %>" data-type="<%= block_type(block.type_id) %>"  >

<% if edit_mode %>

	<%= render partial: "event_block_edit_toolbox", locals: { block: block }, formats: [:html] %>

	<% if block.type_id < 3 %>
		<textarea id="bk<%= block.id %>-body" class="<%= add_class_data_toggle(block) %>" style="display: none;" >
			<%= block_content(block) %>
		</textarea>
	<% end %>

	<% if block.type_id == 4 %>
		<div id="bk<%= block.id %>-body" class="<%= add_class_data_toggle(block) %>">
			<%= block_content(block) %>
		</div>
	<% end %>

	<% if block.type_id == 5 %>
		<div id="bk<%= block.id %>-body" class="meda_holder">
			<%= render partial: "event_block_embed_add", formats: [:html] %>
			<div id="bk<%= block.id %>-content" class="media-target">
				<%= block_content(block) %>
			</div>
		</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready( function() {
			initialize<%= block_type(block.type_id).capitalize %>( "bk<%= block.id %>" );
			<% if block.type_id == 4 %>
				<%= "sponsorships_data_#{block.id} =  #{block.details.to_json}".html_safe %>;
			<% end %>
		});
	</script>

<% else %>

	<div id="bk<%= block.id %>_body" class="<%= add_class_data_toggle(block) %>" >
		<%= block_content(block) %>
	</div>

<% end %>

</li>