<article id="sct<%= event_section.id %>" class="post event-section<%= new_object ? " hide" : "" %>" style="margin-bottom:100px;padding-bottom:50px;">
	<section>
<!-- 						<img src="../cache/images/3c29e05f2779aaa0a01d0510115f9b34_normal_2x.png" width="280" height="304" alt="Ordering a taxi without making a call" class="fs-img"> -->
		<aside>
			<div class="bubble">
					  <img src="<%= section_image(event_section) %>"/>
			</div>
			<a href="sds"><h1 style="float:left;line-height:86px;margin:0">  <%= event_section.name %></h1></a>

		</aside>
		<div class="article-content" style="overflow:visible">
			<ul class="sortable layout">
				<% if event_section.name == "Sponsorships123"  %>
					<li class="element"> <%= render partial: "custom_block.html" %></li>
				<% end %>
	      <% event_section.blocks.each do |block| %>
	      	<%= render partial: "event_block", locals: { block: block, edit_mode: edit_mode }, formats: [:html] %>
	      <% end %>
	      <% if edit_mode %>
	      	<%= render partial: "event_block_add_toolbar", locals: { section_id: event_section.id }, formats: [:html]%>
	      <% end %>
      		</ul>
		</div>
	</section>
	<a class="btn btn-large btn-green" style="float:right;margin-top:5px">Expand </a>
</article>	
