<div class="hide" id="sponsorship_edit_wrapper">
  <div class="modal-header">
    <h3>Edit Sponsorship</h3>
  </div>
  <div class="modal-body">
    <div class="control-group string optional">
      <input type="text" id="sponsorship_title" placeholder="Name" style="margin:10px 0">
    </div>

    <div class="control-group string optional">
      <input type="text" id="sponsorship_count" placeholder="Count" style="margin:10px 0; width: 100px"> x 
      <input type="text" id="sponsorship_value" placeholder="Amount" style="margin:10px 0; width: 100px"> $
    </div>

    <div class="control-group string optional">
      <textarea class="text optional" cols="40" id="sponsorship_description" rows="3"></textarea>
    </div>
<!--       <legend>Choose an icon</legend>
      <div class="square selected" data-type="1"> 
        <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-sheet.png' %> ">
      </div>

      <div class="square" data-type="2"> 
        <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-volunteers.png' %> ">
      </div>
      <div class="square" data-type="3">
        <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-message.png' %> ">
      </div>
      <div class="square" data-type="4">
        <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-plus.png' %> ">
      </div>
      <div class="square" data-type="1"> 
        <img style="margin-top:-5px;height:35px; height:auto"  src=" <%= asset_path 'bubble/icon-sheet.png' %> ">
      </div> -->
  </div>
  <div class="pull-right" style="padding:0 0 15px 15px;">
    <button class="btn btn-green btn-save">Save</button>
    <button class="btn btn-danger btn-close">Cancel</button>
    
  </div>
</div>