<div style="width:200px; height:350px; border:1px #000 solid; float:left  ">
<p>titlu: <%= event.title %></p>
<p>desc: <%= event.description %></p>
<p>start: <%= event.date_start %></p>
<p>end: <%= event.date_end %></p>
<p>loc: <%= event.location %></p>
<p>industry: <%= event.industry_id %></p>
<p>usr id: <%= event.user_id %></p>


</div>
<!-- 

    <td><%= link_to 'Show', event, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-mini btn-danger' %></td> -->