<%= simple_form_for(@event, :html => {:class => 'form-events', :multipart => true}) do |f| %>

    <%= f.input :title , class:"input-xxlarge" %>
    <%= f.input :description, input_html: {rows: 3} %>
    <%= f.input :date_start, as: :string %>
    <%= f.input :date_end, as: :string%>
    <%= f.input :location %>
    <div class="control-group">
        <span class="file-wrapper controls">
          <input id="event_image" type="file" name="event[image]" >
    	  <span class="btn btn-large btn-blue">Choose event photo</span>
    	</span>
    </div>
    <%= f.association :industry, collection: Industry.all(order: 'name'), as: :select, prompt: "Choose event industry"  %>
   <!--  <div class="control-group"> -->
        <%= f.button :submit, class:"btn btn-large btn-blue btn-event-save", style: "width:100%" %>
   <!--  </div> -->


<% end %>
