<div class="event_head">
	<div id="head_line"></div>
	<div class="presenter" style="background-image: url(<%= @event.image_url.to_s %>);">
			
		<div style="position:relative">
					
				<center>
					<h2 style="font-size: 4em;
					font-weight: 400;
					line-height: 1.111em;color:white"> The European Pirate Summit - 2012
					<div style="margin-top:5px;width: 400px;height: 0;border-bottom: 3px solid white;">
					<hr>
					</div>
					</h2>
				</center>
					

		</div>
	</div>


<div class="navbar event-menu" style="margin-bottom:0px;position:relative; z-index:50">
    <div class="navbar-inner lite pull-center" >
		<ul class="nav" style="margin-top:5px;">
            <li><%= link_to "Details", root_path %></li>
            <li><%= link_to "Speakers" %></li>       
            <li><%= link_to "Sponsors" %></li>
            <li><%= link_to "People" %></li>
            <li><%= link_to "Volunteers" %></li>
            <li><%= link_to "Past events" %></li>         
          </ul>
    </div>
</div>


<div class="navbar numbers">
	<div class="navbar-inner transp pull-center" > 
	 	<ul class="nav">
			<li>
				<div class="section">
					<h1> 30 </h1>
					<p><i class="icon-star"></i> Sponsors </p>
					<div class="arrow-up"></div>
				</div>
			</li>

			<li>
				<div class="section">
					<h1> 240 </h1>
					<p><i class="icon-user"></i> Participants </p>
					<!-- <div class="arrow-up"></div> -->
				</div>
			</li>

			<li>
				<div class="section">
					<h1> 9 </h1>
					<p><i class="icon-bullhorn"></i> Speakers </p>
					<!-- <div class="arrow-up"></div> -->
				</div>
			</li>

			<li>
				<div class="section">
					<h1> 9 </h1>
					<p><i class="icon-bullhorn"></i> Speakers </p>
				</div>
			</li>
	 	</ul>
	</div>
</div>


<div class="navbar preview_container">
	<div class="navbar-inner transp pull-center" >
		<ul class="nav">
			<li>
				<img src=" <%= asset_path '1.png' %>">	
				<header>
					<h3>Gabriel Bondor Emilian</h3>
					<p>CEO, Square inc.com </p>
				</header>		
			</li>

			<li>
				<img src=" <%= asset_path '2.png' %>">	
				<header>
					<h3>Vlad Marian Stan</h3>
					<p>CEO, Geekcelerator </p>
				</header>
			</li>
			<li>
				<img src=" <%= asset_path '3.png' %>">	
				<header>
					<h3>Adelina Peltearu Maria</h3>
					<p>Redactor Sef, Decat o Revista </p>
				</header>
			</li>
		</ul>

	</div>
</div>
</div>