<!-- <div class="navbar event-menu" style="margin-bottom:0px;position:relative; z-index:50">
    <div class="navbar-inner lite pull-center" >
		<ul class="nav" style="margin-top:5px;">
            <li><%= link_to "Details", root_path %></li>
            <li><%= link_to "Speakers" %></li>       
            <li><%= link_to "Sponsors" %></li>
            <li><%= link_to "People" %></li>
            <li><%= link_to "Volunteers" %></li>
            <li><%= link_to "Past events" %></li>         
          </ul>
    </div>
</div> -->

<div id="wrapper" style="margin-top:-60px"> <!-- compensate body padding -->
	
    <section class="timeline-detail" style="padding-top:10px">

    <article id="" class="post update" style="padding-bottom:50px;">

     	<h1 style="font-size:50px;margin-bottom:30px"><%= event.title %></h1>
		 <div class="aside" >

		 			<div class="chart" id="pipali">
		 			</div>
		 			<div>
		 				<h1>event.description</h1>
		 				<a class="btn btn-large btn-blue btn-block" href="#">Buy ticket</a>
		 				<a class="btn btn-large btn-green btn-block" href="#">Volunteer</a>
		 				<a class="btn btn-large btn-orange btn-block" href="#">Sponsor event</a>
		 			</div>
		</div>
		<div class="article-content">
			
			 <div style="position: relative; 	
						height: 280px;
						 ">
					<div id="myCarousel"  class="carousel slide" style="top:0;width:100%;">
							                <div class="carousel-inner">
							                  <div class="item" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg');
																		background-position: center center;">
							                  </div>
							                  <div class="item active" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg');
																		background-position: center center;">
							                  </div>
							                  <div class="item" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg');
																		background-position: center center;">
							                  </div>
							                </div>
							                <a class="left carousel-control" style="top:140px" href="#myCarousel" data-slide="prev">‹</a>
							                <a class="right carousel-control" style="top:140px" href="#myCarousel" data-slide="next">›</a>
						</div>

					  <div style="position:absolute;
					 	z-index:11;
							padding:5px 10px;
							right:80px;top:20px;
							height:230px;width:200px;background:#fff;opacity:0.8;
							-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
						    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
						    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">


						    <h4><i class="icon icon-tag"></i> Conference/Tech</h4>
						    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
										font-size: 0.9em;
										color: #555;
										line-height: 1.4;
										font-weight: bolder;
										margin-bottom:25px;
										text-align: left;
										max-height: 130px;
										overflow: hidden;"> Hey! I have something going on and need a developer to team up with for a fun project. if you know wordpress, paypal, jquery and care about design and web tr...</p>
							<h4><i class="icon icon-calendar"></i> 20-22 Sept, 2012</h4>
							<h4><i class="icon icon-map-marker"></i> Cluj Napoca, Ro</h4>
						</div>

					 </div>
			<div class="presenter " style="margin-bottom:20px;">
							<ul class="stats">
								<li class="stat">
								<div class="value">254</div>
								<div class="descriptor">People atending</div>
								</li>
								<li class="stat">
								<div class="value">104</div>
								<div class="descriptor">Special guests</div>
								</li>
								<li class="stat">
								<div class="value">54</div>
								<div class="descriptor">Volunteers</div>
								</li>
								<li class="stat">
								<div class="value">23</div>
								<div class="descriptor">Sponsors</div>
								</li>
							</ul>
			</div>

			<div class="navbar preview_container">
				<div style="position:absolute;left:40px;top:-15px;height:20px;width:25px;
			
					background-repeat: no-repeat;
				background-image: url(' <%= asset_path 'last-bar_carrot.png' %>');
					background-position: center center;">
				</div>
				<div class="navbar-inner transp pull-center" >
					<ul class="nav">
						<li>
							<img src=" <%= asset_path '1.png' %>">	
							<header>
								<h3>Gabriel Bondor Emilian</h3>
								<p>CEO, Square inc.com </p>
							</header>		
						</li>

						<li>
							<img src=" <%= asset_path '2.png' %>">	
							<header>
								<h3>Vlad Marian Stan</h3>
								<p>CEO, Geekcelerator </p>
							</header>
						</li>
						<li>
							<img src=" <%= asset_path '3.png' %>">	
							<header>
								<h3>Adelina Peltearu Maria</h3>
								<p>Redactor Sef, Decat o Revista </p>
							</header>
						</li>
					</ul>

				</div>
			</div>



		</div>
	
	</article>	

    </section>

</div>
