<!-- <div class="navbar event-menu" style="margin-bottom:0px;position:relative; z-index:50">
    <div class="navbar-inner lite pull-center" >
		<ul class="nav" style="margin-top:5px;">
            <li><%= link_to "Details", root_path %></li>
            <li><%= link_to "Speakers" %></li>       
            <li><%= link_to "Sponsors" %></li>
            <li><%= link_to "People" %></li>
            <li><%= link_to "Volunteers" %></li>
            <li><%= link_to "Past events" %></li>         
          </ul>
    </div>
</div> -->

<div id="wrapper" style="margin-top:-60px"> <!-- compensate body padding -->
	
    <section class="event-timeline" style="padding-bottom:0;margin-bottom:0px;padding-top:30px;">

    <article id="" class="post event-section" style="margin-top:0;padding-top:25px;margin-bottom:0;padding-bottom:50px;">

     	<h1 class="pad3 introduction" style="font-size:50px;margin-bottom:30px"><%= event.title %></h1>
		 <div class="aside">

		 			<div style="position:relative"class="chart" id="pipali" >
		 			</div>
		 			<div>
		 				<h2>Get Involved</h2>
		 				<a class="btn btn-large btn-blue btn-block" href="#">Buy ticket</a>
		 				<a class="btn btn-large btn-green btn-block" href="#">Volunteer</a>
		 				<a class="btn btn-large btn-orange btn-block" href="#">Sponsor event</a>
		 			</div>
		</div>
		<div class="article-content">
			
			   <div style="position: relative; 	
						height: 280px;
						 ">
					<div id="carousel-header"  class="carousel slide" style="top:0;width:100%;">
							                <div class="carousel-inner">
							                  <div class="item" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg');
																		background-position: center center;">
							                  </div>
							                  <div class="item active" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://pcdn.500px.net/2909150/8f83a21caccca769b108b524443f04c30268cf2d/4.jpg');
																		background-position: center center;">
							                  </div>
							                  <div class="item" style=" background-size: cover;
							                  							height:280px;
																		background-repeat: no-repeat;
																		background-image: url('http://pcdn.500px.net/121484/905a2f3d980aae640ef9443d77a71f6f323d65ae/4.jpg');
																		background-position: center center;">
							                  </div>
							                </div>
							                <a class="left carousel-control" style="top:140px" href="#carousel-header" data-slide="prev">‹</a>
							                <a class="right carousel-control" style="top:140px" href="#carousel-header" data-slide="next">›</a>
						</div>

					  <div style="position:absolute;
					 	z-index:11;
							padding:5px 10px;
							right:80px;top:20px;
							height:230px;width:200px;background:#fff;opacity:0.8;
							-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
						    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
						    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">


						    <h4><i class="icon icon-tag"></i> <%= get_industry_name(event.industry) %></h4>
						    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
										font-size: 0.9em;
										color: #555;
										line-height: 1.4;
										font-weight: bolder;
										margin-bottom:25px;
										text-align: left;
										max-height: 130px;
										overflow: hidden;"> <%= event.description.to_s %></p>
							<h4><i class="icon icon-calendar"></i> <%= "#{event.date_start.strftime('%d')}-#{event.date_end.strftime('%d')}" %> <small><%= "#{event.date_end.strftime('%b')}, #{event.date_end.strftime('%Y')}" %> </small></h4>
							<h4><i class="icon icon-map-marker"></i> <%= event.location %></h4>
						</div>

			</div>
			<div class="presenter clearfix">
								<div class="stats">
									<div class="stat">
										<div class="value">234</div>
										<div class="descriptor">People attending </div>
									</div>
									<div class="stat">
										<div class="value">13</div>
										<div class="descriptor">Concerts</div>
									</div>
									<div class="stat">
										<div class="value">25</div>
										<div class="descriptor">Volunteers</div>
									</div>
									<div class="stat">
										<div class="value">12</div>
										<div class="descriptor">Sponsors</div>
									</div>
								</div>
			</div>

			 <div class="presenter-preview">
 				<div style="position:absolute;left:40px;top:-15px;height:20px;width:25px;
			
					background-repeat: no-repeat;
				background-image: url(' <%= asset_path 'last-bar_carrot.png' %>');
					background-position: center center;">
				</div>

			 	<div id="blocks-wrapper">
						<ol style="display:block; position: absolute;float:none; overflow: hidden;">
									
									<li style="min-width:60px;display:table-cell; padding-right: 10px;">
											<img src=" <%= asset_path '2.png' %>"/>

									</li>
									<li style="display:table-cell; padding-right: 15px;padding-top:0">
											<header>
												<h3>Bondor Cristian Gabriel</h3>
												<p>Redactor Sef, Revista Cashimir</p>
											</header>
									</li>

									<li  style=" min-width:60px;display:table-cell;padding-right: 10px;">
											<img  src=" <%= asset_path '1.png' %>">
									</li>								
									<li  style="display:table-cell;padding-right: 15px;">
											 <header >
												<h3>Adelina Maria Nicusor </h3>
												<p>Redactor e </p>
											</header>
									</li>

									<li  style="min-width:60px;display:table-cell;padding-right: 10px;">
											<img  src=" <%= asset_path '1.png' %>">
									</li>								
									<li  style="display:table-cell;padding-right: 15px;">
											 <header >
												<h3>Adelina Maria Nicusor </h3>
												<p>Redactor e </p>
											</header>
									</li>
									
								</ol>
				</div>	
			</div>		
		</div>
	</article>	
    </section>
</div>
