<div class="modal fade hide" id="new_section_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a new section</h3>
  </div>
  <div class="modal-body">
    <form id="new_section"> 
      <input type="text" id="section_name" placeholder="Name" style="margin:15px 0">
      <legend>Choose an icon</legend>
      <div class="markerfilter" data-type="1" style="background-image: url(<%= asset_path 'icon-star-28.png' %>);background-position:center center"></div>
      <div class="markerfilter" data-type="2" style="background-image: url(<%= asset_path 'icon-home-28.png' %>);background-position:center center"></div>
      <div class="markerfilter" data-type="3" style="background-image: url(<%= asset_path 'icon-plus-28.png' %>);background-position:center center" ></div>
      <div class="markerfilter" data-type="4" style="background-image: url(<%= asset_path 'icon-pin-28.png' %>);background-position:center center"></div>
      <div class="markerfilter" data-type="5" style="background-image: url(<%= asset_path 'icon-stats-28.png' %>);background-position:center center"></div>
      <div class="markerfilter" data-type="6" style="background-image: url(<%= asset_path 'people.png' %>);background-position:center center" ></div>
      <div class="markerfilter" data-type="7" style="background-image: url(<%= asset_path 'sponsors.png' %>);background-position:center center"></div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-green btn-save_section">Save</button>
  </div>
</div>