<script type="text/javascript">
	$(document).ready(function() {
		updateWorkspace();
		navigateInit();
	});
</script>

<%= render partial: "header_event", locals: { event: event }, formats: [:html] %>
<div id="wrapper"> 
  <section id="event-content" data-event-id="<%= event.id %>" class="event-timeline" >
    <% event.sections.each do |section| %>
      <%= render partial: "event_section", locals: { event_section: section, edit_mode: edit_mode, new_object: false }, formats: [:html] %>
    <% end %>

    <% if edit_mode %>
    	<!-- <a class="btn btn-blue btn-large btn-block">Add new section -</a> -->
    	<%= render partial: "event_section_add", formats: [:html] %>
    	<%= render partial: "new_section", formats: [:html] %>
		  <%= render partial: "new_custom_block", formats: [:html] %>
    <% end %>
  </section>
</div>
