<h1>Listing events</h1>

<!-- <table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Location</th>
    <th>Rating</th>
    <th>Industry</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </table> -->


 <div class="row-fluid">
    <ul class="thumbnails">
        <% @events.each do |event| %>
        <!--  <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date_start %></td>
        <td><%= event.date_end %></td>
        <td><%= event.location %></td>
        <td><%= event.rating %></td>
        <td><%= event.industry_id %></td>
        <td><%= event.user_id %></td>
        <td><%= link_to 'Show', event, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-mini btn-danger' %></td>
        </tr> -->
        <%= render :partial => "event_thumbnail", :locals => { :event => event } %>

        <% end %>
    </ul>

</div>


<br />

<%= link_to 'New Event', new_event_path, :class => 'btn btn-primary' %>
