<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Date start:</b>
  <%= @event.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @event.date_end %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Rating:</b>
  <%= @event.rating %>
</p>

<p>
  <b>Industry:</b>
  <%= @event.industry_id %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
