 <div class="row-fluid" > <!-- style="padding:30px 0"  -->
  <div class="span10 offset1">
    <div class="top-bar clearfix" style="-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">

      <a class="profile-image" style="display: block;
                      float: left;
                      margin-right: 20px;">
          <img alt="Small_vapjpmb0a3bscmazj0du" src="http://www.pocketberry.com/wp-content/uploads/2009/11/COSMOTE2_08181806.bmp" width="200">            
      </a>
      <h2>Cosmote Romania</h2>
      <div class="cleafix">
        <ul class="stats">
          <li class="stat" style="padding-right:10px">
          <div class="value">12</div>
          <div class="descriptor">Events </div>
          </li>
          <li class="stat" style="width:150px;padding-right:10px;padding-left:20px">
          <div class="value">25</div>
          <div class="descriptor">Campaigns</div>
          </li>
          <li class="stat" style="padding-right:10px;padding-left:20px">
          <div class="value">3078</div>
          <div class="descriptor">Followers</div>
          </li>
          <li class="stat" style="width:160px;padding-right:10px;padding-left:20px">
          <div class="value">3</div>
          <div class="descriptor">Active sponsorships</div>
          </li>
        </ul>
      </div>

      <div style="float:right;height:120px;width:120px;margin-top:-40px;">
                    <canvas class="founded" id="canv3" width="120" height="120" data-size="medium">
                        <span class="iv">56</span>
                        <span class="ic">1</span>
                        <span class="ia">0</span>
                    </canvas>
                </div>
    </div>
  </div>
</div>

<!-- de aici bara meniu -->

<div class="navbar event-menu" style="margin-bottom:20px;">
  <div class="navbar-inner lite" >
    <div class="container">
        <div class="row">
          <div class="span10 offset1">
              <ul class="nav" style="margin-top:5px;">
                <li><%= link_to "Details" %></li>
                <li><%= link_to "Events" %></li>
                <li><%= link_to "Campaigns" %></li>       
                <li><%= link_to "Followers" %></li>
                <li><%= link_to "Active sponsorships" %></li>

              </ul>

              <ul class="nav pull-right" style="margin-top:5px;">
                <!-- <li style="margin-right:5px;" >
                     <input onclick="fillModal(2)" class="btn btn-green" type="button" data-toggle="modal" href="#modalSeed" value="Recommend Event">
                </li> -->
                <li>
                     <input class="btn btn-orange" type="button" data-toggle="modal" href="#modalVolunteer" value="Follow" >
                </li>
                <li><a data-toggle="modal" href="#modalMore">More +</a></li>
              </ul>
          </div>
        </div>
    </div>
  </div>
</div>

    <center>
    <h1>Sponsored by Cosmote</h1>
      <h1 style="margin-bottom:50px;"><small>Timeline of all past events and campaigns sponsored by Cosmote</small></h1>
    </center>

<!-- de aici in jos timeline -->

<div id="wrapper">
    <div class="sponsorship-timeline" style="padding-top:39px;margin-bottom:40px;padding-bottom:50px;">
      <span class="year">2012</span>

        <%= render partial: 'events/event_thumbnail.html'%>


        <%= render partial: 'events/event_thumbnail.html'%>


        <%= render partial: 'events/event_thumbnail.html'%>


        <%= render partial: 'events/event_thumbnail.html'%>

    </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    var sliders = $(".seeds-graph-container");
          sliders.each(function(index, slider) {
              animate3(slider); 
          });

          var graphs = $('.founded');
          graphs.each(function (index, canvas) {
              animateCircle(canvas);
          });
  });
</script>