<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner" style ="background-image: url(<%= asset_path 'nav-bg.jpeg' %>);">
      <div class="container-fluid">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div id='outer_container'>
              <a class="menu_button" href="#" title="Toggle"><span>Menu Toggle</span></a>
              <ul class="menu_option">
                <li><a href="#"><span>Item</span></a></li>
                <li><a href="#"><span>Item</span></a></li>
                <li><a href="#"><span>Item</span></a></li>
                <li><a href="#"><span>Item</span></a></li>
                <li><a href="#"><span>Item</span></a></li>       
              </ul>
        </div>
       
        <a style= "margin-left:40px; margin-right:60px;color:white" class="brand" href="/home">Seedbit</a>
 
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown no-border">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> You <b class="caret"></b></a>
              <ul class="dropdown-menu" style="margin-bottom:10px">
                <li class="nav-header no-border"><%=current_user.email%></li>
                <li class="no-border"><a href="/users/logout"><i class="icon-search"></i> Icon + direct link</a></li>
                <li class="no-border"><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li class="divider no-border"></li>
                <li class="no-border"><%= link_to "Logout", destroy_user_session_path, method: :get %></li>
              </ul>
          </li>     

          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Login with Fb", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>      
        </ul>

         <div class="nav-collapse"> 
         <ul class="nav">
              <li>
                <a class="clearfix" href="/">
                      <!-- <span style="width:22px;height:22px" class="ico-bar ico-map"></span> -->
                      <div style="float:left;" class="ico-bar ico-home"></div><span style="float:left">Home</span>
                </a>
              </li>

              <li>
                <a class="" href="/events">
                      <!-- <span style="width:22px;height:22px" class="ico-bar ico-map"></span> -->
                      <div style="float:left;" class="ico-bar ico-explore"></div><span style="float:left">Explore</span>
                </a>
              </li>

              <li>
                  <a class="iii" href="">
                        <!-- <span style="width:22px;height:22px" class="ico-bar ico-map"></span> -->
                        <div style="float:left;" class="ico-bar ico-companies"></div>Companies</span>
                  </a>
                </li>

              
          </ul>   
  
        </div>
      </div>
    </div>
  </div>