<!DOCTYPE html>
<html>
<head>
  <title>ProjectRedChambon</title> 
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag  "MyFontsWebfontsKit", :media => "all" %>
  <%= stylesheet_link_tag  "bootstrap-responsive", :media => "all"%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% unless @current_controller=="events" && @current_action=="show" || @current_controller=="admin" %>
    <!-- no need for menu_bar in this cases -->
    <%= render "menu_bar" %>
  <%end%>

  <!-- Only display header of the event in the event details page.(did this so that the header isn't included in the fluid layout of bootstrap) -->
 
  <div id="event_head"><%= content_for?(:header_event) ? yield(:header_event) : yield %></div>
 

  <% if @current_controller=="admin" %>
    <%= render "admin/admin_layout" %>

    <%else%>

      <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div> 

  <%end%>

  <!-- 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>  -->
</body>
</html>
